<div class="col-md-12" ng-controller="PabloFiController">
	<div class="jumbotron" style="border-radius: 7px; background-color: black;">
		<div class="container">
			<div class='col-md-12'>
            	<div class='row'>
	                <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title pull-left">fischPine <b>v{{ moduleVersion }}</b></h4><span class="pull-right">basic utils</span>

	                        <div class="clearfix"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
			<div class="panel panel-default" ng-controller="PabloFiController">
				<div class="panel-heading">
					<h3 class="panel-title">port scan</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">IP</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="moduleIPAddress" placeholder="ex. 172.16.42.69">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Port(s)</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="modulePorts" placeholder="ex. 80, or range 25-100">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-md-offset-2">
								<button class="btn btn-success" ng-click="startPortScan();">Scan</button>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<textarea class="form-control" rows="10">{{ outputContent }}</textarea>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">ping ip</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">IP</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="modulePingIPAddress" placeholder="172.16.42.69">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-md-offset-2">
								<button class="btn btn-success" ng-click="startPing();">Ping</button>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<textarea class="form-control" rows="10">{{ pingOutputContent }}</textarea>
				</div>
			</div>
		</div>
	</div>
</div>

