<div class="col-md-12" ng-controller="PabloFiController">
	<div class='col-md-12'>
		<div class='row'>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title pull-left">fischPine <b>v{{ moduleVersion }}</b></h4><span class="pull-right">basic utils</span>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron" style="border-radius: 7px; background-color: black;">
		<div class="container">
			<!-- nmap group -->
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#collapseThree">
					<h3 class="panel-title">'nmap -p'</h3>
				</div>
				<div class="panel-body collapse" id="collapseThree">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">IP</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="moduleIPAddress" placeholder="ex. 172.16.42.69">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Port(s)</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="modulePorts" placeholder="ex. 80, or range 25-100">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-md-offset-2">
								<button class="btn btn-success" ng-click="startPortScan();">scan</button>
							</div>
						</div>
					</form>
					<textarea class="form-control" rows="10">{{ outputContent }}</textarea>
				</div>
			</div>
			
			<!-- ping group -->
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
					<h3 class="panel-title">'ping -n'</h3>
				</div>
				<div class="panel-body collapse" id="collapseTwo">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="modulePingIPAddress" placeholder="ex. 172.16.42.69, or google.com">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Ping Count</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="modulePingCount" placeholder="5">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-md-offset-2">
								<button class="btn btn-success" ng-click="startPing();">ping</button>
							</div>
						</div>
					</form>
					<textarea class="form-control" rows="10">{{ pingOutputContent }}</textarea>
				</div>
			</div>
			<!-- traceroute group -->
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">
					<h3 class="panel-title">'traceroute'</h3>
				</div>
				<div class="panel-body collapse" id="collapseOne">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Address</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" ng-model="moduleTracerouteAddress" placeholder="ex. google.com">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-md-offset-2">
								<button class="btn btn-success" ng-click="startTraceroute();">traceroute</button>
							</div>
						</div>
					</form>
					<textarea class="form-control" rows="10">{{ tracerouteOutputContent }}</textarea>
				</div>
			</div>
		</div>
	</div>
</div>

